<%- include("header") -%>

<h2>This is the about page!</h2>

<p>adkajhdlkjahlkjdhasldkjahsldkjashdlajkhdlsakjjhflasjkhf lasjkhf alskjdfhaslkdj fhasdlkfjh asdlkj fsadlkfj hasdl fkjas</p>

<%- include("footer") -%>